body{
	 
	background: url(../images/bac2.gif);
	.pic-list{
		display: block;
		.pic{
			 
			display: inline-block;
			width: 25%;
		    display: inline-block;
		    border: 8px solid #fff;
		    margin: 2%;
			img{
				width: 100%;
			}
		}
	}
}